<section class="category-navigation">
    <header class="header navbar navbar-inner">
        <nav class="navbar navbar-categories" role="navigation" style="margin: 0px 0px;">
            <section>
                <div class="container">
                    <div class="nav navbar-nav pull-left-md pull-left-lg no-float-sm">
                        <div class="logo">
                            <a class="full-width" href="catalog">
                                <img id="logo-categories-container" class="img-responsive centered-sm centered-xs" ng-src="{{user.Company.LogoUrl}}" />
                            </a>
                        </div>
                    </div>
                    <div class="nav navbar-nav pull-right hidden-xs hidden-sm vertical-center" ng-style="calcHeight">
                        <ul>
                            <li ng-repeat="t in tree" ng-class="{'active': isInPath('{{t.InteropID}}'),'dropdown': t.SubCategories.length > 0}">
                                <a ng-if="t.SubCategories.length > 0" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false" style="font-size: 16px;">{{t.Name}}</a>
                                <a ng-if="t.SubCategories.length == 0" href="catalog/{{t.InteropID}}" style="font-size: 16px;">{{t.Name}}</a>
                                <ul ng-if="t.SubCategories.length > 0" class="dropdown-menu" style="right:0;left:auto;">
                                    <li><a href="catalog/{{t.InteropID}}">All {{t.Name}}</a></li>
                                    <li ng-repeat="sc in t.SubCategories" ng-if="sc.SubCategories.length > 0" class="dropdown-submenu">
                                        <a href="catalog/{{sc.InteropID}}">
                                            {{sc.Name}}
                                        </a>
                                       <ul class="dropdown-menu" style="right:100%;left:auto;">
                                           <li ng-repeat="ssc in sc.SubCategories">
                                               <a ng-href="catalog/{{ssc.InteropID}}">
                                               {{ssc.Name}}
                                               </a>
                                           </li>
                                       </ul>
                                   </li>
                                   <li ng-repeat="sc in t.SubCategories" ng-if="sc.SubCategories.length == 0">
                                        <a href="catalog/{{sc.InteropID}}">
                                            {{sc.Name}}
                                        </a>
                                   </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </nav>
    </header>
</section>